@model Umbraco.Forms.Web.Models.FormViewModel

<div>
    <span class="umbraco-forms-submitmessage prose prose-lg lg:max-w-none">
        @Model.MessageOnSubmit
    </span>
</div>
@Html.Partial("Forms/Themes/default/ScrollToFormScript")